:root {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

/* width */
::-webkit-scrollbar {
	width: 6px;
	border-radius: 3px;
}

/* Track */
::-webkit-scrollbar-track {
	background: rgb(46, 46, 46);
	border-radius: 3px;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #888;
	border-radius: 6px;
}
